@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}


/* DESIGNING MOBILE FIRST */
/* HEADER STYLING */
.header {
    width: 87%;
    margin: 2.5rem auto;
    display: flex;
    justify-content:space-between;
    /* padding: 2.5rem 1.2rem; */
}

header button{
    background-color: inherit;
    border: none;
}

.header .mobile-close-menu_btn{
    display: none;
}

.header .header-nav{
    position: absolute;
    width: 87%;
    background-color: #fff;
    left: 0;
    right: 0px;
    margin: 2.5rem  auto;
    border-radius: 5px;
    padding: 2rem 0;
    display: none;
    animation: transitionDown 0.4s;
}

/* ANIMATION TO SLIDE DOWN THE MENU WHEN OPEN IS CLICKED */
@keyframes transitionDown{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.header .header-nav .nav-links{
    text-align: center;
}

.header .header-nav .nav-links li a{
    display: inline-block;
    margin: 1rem 0rem;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.1rem;
    color: hsl(228, 39%, 23%);
    transition: all .1s linear;
}

.get-started_btn{
    background-color: hsl(12, 88%, 59%);
    padding: .8rem 1.5rem;
    border-radius: 70px;
    color: #fff;
    font-size: 1rem;
    box-shadow: 3px -3px 17px -9px rgba(241, 81, 40, 0.938);
    -webkit-box-shadow: 3px -3px 17px -9px rgba(241, 81, 40, 0.938);
    -moz-box-shadow: 3px -3px 17px -9px rgba(241, 81, 40, 0.938);
    display: none;
    transition: all .1s linear;
}

/* Body background color when mobile menu is active */
.mobile-bg{
    background: linear-gradient(#ffffff27, #0000004d);
    position: absolute;
    width: 100%;
    background-attachment: fixed;
    transition: .5s ease;
}

/* LARGER SCREENS HEADER (MIN: 600px*/
@media screen and (min-width: 600px)  {
    .mobile-bg{
        background: inherit;
    }
    
    .header{
        align-items: center;
        width: 98%;
        margin: 2.5rem auto;
    }
    
    .header .header-nav{
        display: block !important;
        position: initial;
        width: auto;
        margin: 0;
        padding: 0;
    }

    .header button{
        display: none !important;
    }

    .header .header-nav .nav-links{
        text-align: inherit;
        display: flex;
    }

    .header .header-nav .nav-links li a{
        margin: 0 0 0 1.7rem;
        display: flex;
        font-weight: 400;
        font-size: 1rem;
    }

    /* .get-started_btn{
        display: block;
    } */
}

@media screen and (min-width: 850px){
    .header .header-nav .nav-links li a{
        margin: 0 .7rem;
    }
    
    .get-started_btn{
        display: block;
    }
}

@media screen and (min-width: 1220px){
    .header{
        width: 1200px;
    }
}

/* HOVER EFFECTS */
.header .header-nav .nav-links li a:hover{
    color: hsl(227, 12%, 61%);
}

.get-started_btn:hover{
    background-color: hsl(12, 100%, 65%)
}